<div class="section">
  <%= simple_form_for [current_user, @unicorn] do |f| %>
  <div class="field">
     <div class="control">
     <%= f.input :name, input_html: {class: 'input'}, wrapper: false, label_html: {class: 'label'} %>
     </div>
  </div>
  <div class="field">
     <div class="control">
     <%= f.input :age, input_html: {class: 'input'}, wrapper: false, label_html: {class: 'label'} %>
     </div>
  </div>
  <div class="field">
  <div class="control">
  <%= f.input :color, input_html: {class: 'input'}, wrapper: false, label_html: {class: 'label'} %>
  </div>
</div>
<div class="field">
<div class="control">
<%= f.input :personality, input_html: {class: 'input'}, wrapper: false, label_html: {class: 'label'} %>
</div>
</div>
<div class="field">
<div class="control">
<%= f.input :quirks, input_html: {class: 'input'}, wrapper: false, label_html: {class: 'label'} %>
</div>
</div>
  <%= f.button :submit, 'Create Unicorn', class: "button is-primary" %>
  <% end %>
</div>