<section class="section">
<div class="container">
<h1 class="title"> Name: <%= @unicorn.name %></h1>
<div class="age"> Age: <%= @unicorn.age %> </div>
<div class="color"> Color: <%= @unicorn.color %></div>
<div class="personality"> Personality: <%= @unicorn.personality %></div>
<div class="quirks"> Quirks: <%= @unicorn.quirks %></div>
</div>
</section>