<section class="section">
<div class="container">
<h1 class="title"> <%= @unicorn.name %></h1>
<div class="age">
<%= @unicorn.age %>
</div>
<div class="color">
<%= @unicorn.color %>
</div>
<div class="personality">
<%= @unicorn.personality %>
</div>
<div class="quirks">
<%= @unicorn.quirks %>
</div>
</div>
</section>